/* General styling for the web application */
* {
  margin: unset;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background: linear-gradient(to right, #1f4037, #99f2c8);
}

#root {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  color: white;
}

main {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 20px;
}
